

$blackGrayColor: #1f1f1f;
$BannerColor: #F0E68C;
$BannerImage: url(banner.avif);
$warmRed: #BA0021;
$focusRed: #E32636;

.header-wrapper {
    background-color: $BannerColor;
    overflow: hidden;
  }

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1px 40px;
  position: relative;


button {
  border: 0;
  text-decoration: 0;
  white-space: nowrap;
  background-color: #FEBE10;
  border-radius: 20px;
  font-size: 25px;
  padding: 8px 40px;
  cursor: pointer;
  color: black;
  font-weight: 800;
  transition: transform ease-in-out 0.3s, scale 0.1s;
}
  button:focus {
    scale: 1.1;
  }

h1{
    color: black;
    font-weight: 800;
}
}

.banner{
display: flex;
background-image: $BannerImage;
background-size:cover;
width: auto;
height: 500px;
}
.show {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: -280px;
      

h1, p{
    color: white;
}

p{
    font-size: 20px;    
}

}

.meals{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    padding: 5px;


    h1{
      margin: 0;
      padding: 2px 20px;
    }
    p{
      margin: 0;
      padding: 2px 20px;
      font-style: italic;
    }
}

.meals2{
display: flex;
justify-content: flex-end;
  input{
    width: 30px;
    height: 15px;
    display: flex;
  }
  button{
    border: none;
    background-color: $warmRed;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 20px;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
    &:active{
      background-color: $focusRed;
    }
  }
}

.cart{
  background-color: white;
  color: black;
  border-radius: 10px;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 10;
}

.modal{
  position: fixed;
  background-color: white;
  color: black;
  z-index: 100;
  top: 50%; /* Center the modal vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  overflow: auto;
}

@media (max-width: 768px) {
  .modal{
    width: 80%;
    height: 30%;
  }
}


.total{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 25px;
}

.actions{
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px;
  gap: 20px;
}

.close-button{
  border-radius: 20px;
  border: 2px solid $warmRed;
  font-size: 20px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  width: 100px;
  height: 40px;
  transition: transform ease-in-out 0.3s, background-color 0.3s, scale 0.3s;
}

.order-button{
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  color: black;
  cursor: pointer;
  background-color: $warmRed;
  width: 100px;
  height: 40px;
  transition: transform  ease-in-out 0.3s,  background-color 0.3s, scale 0.3s;
}

.order-button:active,
.close-button:active{
  background-color: $focusRed;
  scale: 1.2;
}

