

$blackGrayColor: #1f1f1f;
$BannerColor: #F0E68C;
$BannerImage: url(banner.avif);
$warmRed: #BA0021;
$focusRed: #E32636;

.header-wrapper {
    background-color: $BannerColor;
    overflow: hidden;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1px 40px;
  position: relative;


button {
  border: 0;
  text-decoration: 0;
  white-space: nowrap;
  background-color: #FEBE10;
  border-radius: 20px;
  font-size: 25px;
  padding: 8px 40px;
  cursor: pointer;
  color: black;
  font-weight: 800;
}
h1{
    color: black;
    font-weight: 800;
}
}

.banner{
display: flex;
background-image: $BannerImage;
background-size:cover;
width: auto;
height: 500px;
}

.show {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: -280px;
      

h1, p{
    color: white;
}

p{
    font-size: 20px;    
}

}

.meals{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    padding: 5px;


    h1{
      margin: 0;
      padding: 2px 20px;
    }
    p{
      margin: 0;
      padding: 2px 20px;
      font-style: italic;
    }
}

.meals2{
display: flex;
justify-content: flex-end;
  input{
    width: 15px;
    height: 15px;
    display: flex;
  }
  button{
    border: none;
    background-color: $warmRed;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 20px;
    cursor: pointer;
    &:active{
      background-color: $focusRed;
    }
  }
}